<!-- Sezione immagine con titolo -->
<div class="d-flex flex-column justify-content-center align-items-center" id="details-img">
    <h1 class="text-light my-3">{{ p?.title | uppercase }}</h1>
    <h2 class="text-light my-3 text-center">{{ p?.subtitle }}</h2>
</div>

<div class="container" id="body-details">
    <!-- Sezione Post -->
    <div class="pb-5">
        <div class="float-start w-25 mb-2 me-3 py-5 px-3" style="border: 1px solid #F96E46;">
            <div class="me-3">
                <img class="rounded-circle" src="{{p?.authorImage}}" width="50" height="50" alt="Profile pic">
            </div>
            <p class="fst-italic my-3">Author: {{ p?.author }}</p>
            <p class="fst-italic my-3">Date: {{ p?.date }}</p>
        </div>
        <p class="my-5">{{ p?.body }}</p>
        <a class="text-decoration-none back" [routerLink]="['/posts']" title="Back"><i class="bi bi-caret-left-fill"></i> Back</a>
    </div>

    <!-- Sezione tasti social -->
    <div class="text-center pb-5">
        <a class="btn text-light mx-2 w-25 social" href="https://www.facebook.com/" title="Facebook" id="facebook"><i class="bi bi-facebook"></i> Share</a>
        <a class="btn text-light mx-2 w-25 social" href="https://twitter.com/" title="Twitter" id="twitter"><i class="bi bi-twitter"></i> Tweet</a>
        <a class="btn text-light mx-2 w-25 social" href="https://www.pinterest.it/" title="Pinterest" id="pinterest"><i class="bi bi-pinterest"></i> Pin</a>
    </div>

    <!-- Sezione Commenti -->
    <app-comments></app-comments>
</div>
