h2 {
    color:#545863;
}
.card {
    border: none;
    border-radius: none;
}

a {
    text-decoration: none;
    color: #2e2e2e;
}

a:hover {
    text-decoration: none;
    color: #F96E46;
}

img:hover {
    filter: grayscale(90%);
}
