<div class="container-fluid" id="lastArticles">
    <div class="d-flex justify-content-center align-items-center mt-5">
        <h1 class="me-3">Ultimi Articoli</h1>
        <div style="width: 1000px; border-bottom: 5px solid #545863;"></div>
    </div>
    <!-- riga uno grande  -->
    <div class="row">

        <div class="col-md-6 g-0" >
            <a href="">
                <div class="d-flex justify-content-center" id="last">
                    <div class="articleDato align-self-center">
                        <p class="infoArticle"><span> Autore </span> <span>Data</span></p>
                        <p class="articleTitleSub"> Titolo 2</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6">

            <div class="row">
                <!-- riga due piccola  -->
                <div class="col-md-6 g-0">
                    <a href="">
                        <div class="d-flex justify-content-center" id="second">
                            <div class="articleDato align-self-center">
                                <p class="infoArticle"><span> Autore </span> <span>Data</span></p>
                                <p class="articleTitleSub"> Titolo 2</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 g-0">
                    <a href="">
                        <div class="d-flex justify-content-center" id="third">
                            <div class="articleDato align-self-center">
                                <p class="infoArticle"><span> Autore </span> <span>Data</span></p>
                                <p class="articleTitleSub"> Titolo 2</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row">
                <!-- riga due piccola  -->
                <div class="col-md-6 g-0">
                    <a href="">
                        <div class="d-flex justify-content-center" id="fourth">
                            <div class="articleDato align-self-center">
                                <p class="infoArticle"><span> Autore </span> <span>Data</span></p>
                                <p class="articleTitleSub"> Titolo 2</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 g-0">
                    <a href="">
                        <div class="d-flex justify-content-center" id="fifth">
                            <div class="articleDato align-self-center">
                                <p class="infoArticle"><span> Autore </span> <span>Data</span></p>
                                <p class="articleTitleSub"> Titolo 2</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>




<app-filtered-pc></app-filtered-pc>
<app-filtered-playstation></app-filtered-playstation>
<app-filtered-xbox></app-filtered-xbox>
<app-filtered-nintendo></app-filtered-nintendo>
