
a {
  text-decoration: none;
  color: #2e2e2e;
}

a:hover {
  text-decoration: none;
  color: #F96E46;
}

img:hover {
  filter: grayscale(90%);
}

.text {
  font-size: 14px;
}

.card {
  border: none;
}

@media screen and (max-width: 991px) {
  #cardSmall {
      display: none;
  }

}

@media screen and (min-width: 991px) {
  #cardLarge {
      display: none;
  }
}
