<div class="container my-5">
    <a class="text-decoration-none back" [routerLink]="['/posts']" title="Back"><i class="bi bi-caret-left-fill"></i>
        Back</a>
    <div class="text-center">
        <div class="container">
            <div class="row">
                <h1 class="my-5">Profile</h1>
                <div class="col-4">
                    <div (mouseenter)="showIcon = true" (mouseleave)="showIcon = false"  class="position-relative">
                    <img  id="profilePic" src="{{userData.image}}" class="mb-4"
                        alt="Profile pic" width="150px">
                        <i *ngIf="showIcon" (click)="showInput = true" class="bi h1 position-absolute modifyIcon bi-pencil-square"></i>
                    </div>
                    <form *ngIf="showInput" #form="ngForm" class="d-flex" (ngSubmit)="updateImg(form)">
                        <input type="text" class="form-control" [ngModel]="userData.image" id="image" name="image" #image="ngModel">
                        <button type="submit" class="btn mx-2 text-white"><i class="bi bi-check2"></i></button>
                    </form>

                </div>
                <div class="col-8">
                    <p>Nome: {{userData.name}}</p>
                    <p>Email: {{userData.email}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
