<app-navbar></app-navbar>
<div class="container-fluid">
  <a class="btn btn-primary my-4" [routerLink]="['/new-post']">Create new post</a>


<div class="container-fluid d-flex flex-wrap justify-content-center p-5">
  <div class="card m-3 bg-dark bg-gradient text-white w-25" *ngFor="let post of posts! | paginate:{itemsPerPage: 10, currentPage: page}">
    <img src="https://images2.alphacoders.com/125/1258095.jpg" class="card-img-top" alt="article-photo" >
    <div class="card-body">
      <h4 class="card-title">{{post.title}}</h4>
      <p class="card-text">{{post.subtitle}}</p>
      <div class="text-center">
        <a class="btn btn-dark bg-gradient m-3" [routerLink]="['/posts/', post.id]"><i class="bi bi-menu-up"></i></a>
        <a class="btn btn-dark bg-gradient m-3" [routerLink]="['/posts/' + post.id + '/edit/']"><i class="bi bi-pencil-square"></i></a>
        <a type="button" class="btn btn-dark bg-gradient m-3" (click)="deletePost(post.id)"><i class="bi bi-trash3"></i></a>
      </div>
    </div>
  </div>
</div>



  <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
</div>
<app-footer></app-footer>
