<div class="container-fluid">
  <a class="btn btn-primary my-4" [routerLink]="['/new-post']">Create new post</a>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col"></th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
        <td>{{post.date}}</td>
        <td><a class="btn btn-success" [routerLink]="['/posts/', post.id]">dettagli</a> <a class="btn btn-primary" [routerLink]="['/posts/' + post.id + '/edit/']">Modifica</a> <a type="button" class="btn btn-danger" (click)="deletePost(post.id)">Elimina</a></td>
      </tr>
    </tbody>
  </table>
</div>
